* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 10px;
    font-family: sans-serif;
    padding: 1em;
}

.alert-info {
    background-color: lightblue;
    height: 5em;
    width: 100%;
    font-size: 2.2em;
    border: 2px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-info a {
    text-decoration: none;
    color: black;
}
 h1 {
    font-size: 8em;
    text-align: center;
     padding-top: .5em;
     padding-bottom: 1em;
     margin: 0 auto;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;


}

ul {
    padding-left: 0;
}

li {

    font-size: 25px;
    list-style-type: none;
    width: 100%;

}
.header-img {
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
}

li a {
    display: flex;
    justify-content: center;
    margin-bottom: 18px ;
    background: gray;
    padding: 1em;
    width: 100%;
}

